<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/login.css" type="text/css">

    <title>iptables</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
    
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="./static/images.jpeg" alt="Avatar" class="avatar">
          </div>
      
          <!-- Login Form -->
          <form  action="/login" method="POST">
            <input type="username" id="login" class="fadeIn second" name="username" placeholder="Login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
       
      
        </div>
      </div>
</body>
</html>
